@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 222 84% 4.9%;
    --card: 255 100% 100%;
    --card-foreground: 222 84% 4.9%;
    --popover: 255 100% 100%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 222 84% 4.9%;
    --muted: 240 5% 90%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 240 5% 90%;
    --accent-foreground: 222 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 0.75rem;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 0 72.2% 50.6%;
    --chart-3: 142.1 76.2% 36.3%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 10%;
    --card-foreground: 213 31% 91%;
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
    --primary: 210 100% 50%;
    --primary-foreground: 224 71% 4%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 213 31% 91%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 213 31% 91%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 213 31% 91%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 210 100% 50%;
    --chart-1: 210 100% 50%;
    --chart-2: 34 98% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
